.dias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dia{
    display: flex;
    align-items: center;
    gap: 10px;
}

.horarios{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.edit-tipo-dia{
    margin-top: 15px;
}

.edit-tipo-dia h4{
    margin-bottom: 7.5px;
}

.edit-times{
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.edit-time{
    padding: 7.5px;
    background-color: #444;
    color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    cursor: pointer;

}

#variacao{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.edit-mode:hover{
    background-color: rgba(16, 182, 16, 0.721) !important;
}

.delete-mode:hover{
    background-color: #c00;
}

/* Estilos do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #0056b3;
}

/* Menu do dropdown (inicialmente oculto) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    width: 200px;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
